{% extends 'posts/base.html' %}

{% block title %}
Пост #{{ post.id }}
{% endblock %}

{% block page_content %}
<a href="{% url 'posts:index' %}">На главную</a>
<p>{{ post.author }}</p>
<p>{{ post.date_pub|date:"H:i j.F.Y" }}</p>
<img src="{{ post.image.url }}" style="width: 250px; height: 250px;">
<p>{{ post.description }}</p>
<p> Likes: {{ post.likes_count }}</p>
<form method="post" action="{% url 'posts:post-like' post.id %}">
    {% csrf_token %}
    <button type="submit">👍</button>
</form>
{% if post.author == user %}
<a href="{% url 'posts:post-edit' post.id %}">✏️</a>
<a href="{% url 'posts:post-delete' post.id %}">🧺</a>

{% endif %}

{% if comments %}
<div>
    {% for comment in comments %}
    <p>{{ comment.author }}</p>
    <p>{{ comment.date_pub }}</p>
    <p>{{ comment.text }}</p>
    {% if comment.author == user %}
    <form action="{% url 'posts:comment-delete' comment.id %}" method="post">
        {% csrf_token %}
        <button type="submit">🧺</button>
    </form>
    {% endif %}
    <hr>
    {% endfor %}
</div>
{% endif %}

{% if comment_form %}
<form method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Комментировать</button>
</form>
{% endif %}
{% endblock %}